html {
    touch-action: none;
    user-select: none;
}

body {
    margin: 0 auto;
    height: 100vh;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    background-color: #212225;
    background-image: url('https://habboo-a.akamaihd.net/c_images/reception/habbo20_background_left.png'), url('https://habboo-a.akamaihd.net/c_images/reception/background_right_easter2016.png');
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    cursor: pointer;
}
